/* Mobile & Tablet */
@media (max-width: 1023px) {
    .container {
        width: 100%;
        height: 100%;
        border-radius: unset;
    }
    header .header-logo {
        margin: 0
    }
    header nav ul li {
        padding: 8px;
    }

    
}

/* Mobile */
@media (max-width: 739px) {
    header nav {
        display: block;
    }
    header {
        height: 140px;
    }

    .personnel {
        width: 100%;
        display: flex;
        margin: 0 8px;
    }

    header nav ul {
        margin-right: 8px;
    }

    header nav ul li {
        font-size: 1.6rem;
    }

    nav input {
        height: 30px;
    }
}

